/* Campanella Florian et Manon Scholivet

	Ajout de contenu dans le css,
	pour une meilleur mise en forme des templates.
 */

#contenu #breadcrumb {
	text-align: center ;
	margin: 0 ;
  	padding: 0 ;
  	list-style: none ;
}

#contenu #breadcrumb li{
	display: inline ; 
	margin-right: 1px ;
}

#contenu #breadcrumb li a {
	color: black;
	padding: 4px 10px ;
	font: 1em "Trebuchet MS",Arial,sans-serif ;
	line-height: 1em ;
	text-align: center ;
}

#contenu .box {
	border:solid 1px black;
	padding:2%;
	margin:1%;
}

#contenu .afficherParcours {
	padding:20px;
}


#contenu #documentation h1{
	text-align: center;
	text-decoration:underline;
}

#contenu #documentation h4{
	text-align: center;
	text-decoration:underline;
}

#contenu #documentation .descr p {
	width:80%;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}


